@charset "UTF-8";
:root{
    --cor00:#3C5057;
    --cor01:#56BEDD;
    --cor02:#93C6D6;
    --cor03:#224A57;
    --cor04:#7197A3;
}
body{
    background-color: var(--cor03); 
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

a > p {
    color: black;
    background-color: var(--cor01);
    text-decoration: none;
    border: 1px solid var(--cor03);
}
a > p:active{
    color: var(--cor03);
}
h2{
    color: var(--cor03);
}
header{
    background-image:linear-gradient(var(--cor02),var(--cor01));
    border-radius: 50px;
    text-align: center;
    box-shadow: 8px 7px 9px rgba(0, 0, 0, 0.315);
}
header p{
    padding-bottom: 15px;
}
main{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
main a {
    text-decoration: none;
}
div{
    background-color:var(--cor02);
    border-radius: 10px;
    box-shadow: 8px 7px 9px rgba(0, 0, 0, 0.315);
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 30px;
}
div img{
    width: 80px;
    height: 80px;
}
footer{
    background-color: var(--cor00);
    text-align: center;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}
footer h3{
    color: var(black);
    margin-top: 2px;
    font-size: 1em;
}
footer p{
    font-size: .8em;
}